@use "design-system";

.mm-modal-content__dialog {
  display: flex;
  height: 100%;
}

.warning {
  background: rgba(255, 211, 61, 0.15);

  .mm-icon {
    color: rgba(246, 106, 10, 1);
  }

  .mm-box--flex-direction-row > p {
    color: rgba(246, 106, 10, 1);
  }
}
